<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>juego</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">juego</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-button routerLink="../home">Volver al menú</ion-button>
  </div>
  
  <div style="display: flex; justify-content: center; flex-direction: column; color: black;">
    <div id="stats" >
      <table>
        <tr>
          @for(estadistica of estadisticas; track estadistica.id ){
          <td>
            <p>
               {{ estadistica.nombre }}: {{ estadistica.estado }} ㅤㅤㅤ
            </p>
          </td>
          }
        </tr>
      </table>
    </div>

  <div id="div-centrado">
    @for(decision of decisiones; track decision.id){
    @if(decision.mostrar){
    @for (personaje of personajes; track personaje.id) {
    @if(personaje.id == decision.personajeId){

    <ion-card id="ch-card" style="width: 100% !important;">
      <p>{{ decision.descripcion }}</p>
      <ion-card-header>
        <ion-card-title>{{ personaje.nombre }}</ion-card-title>
        <ion-card-subtitle>{{ personaje.puesto }}</ion-card-subtitle>
      </ion-card-header>
      <img alt="Imagen del personaje" src="{{ personaje.imagen }}" />
      <p>
        {{ personaje.descripcion }}
      </p>

      <ion-card-content>
        <div id="options">
          <ion-button class="option1" (click)="decisionOpcion1(decision)">{{ decision.opcion1 }}</ion-button>
          <ion-button class="option2" (click)="decisionOpcion2(decision)">{{ decision.opcion2 }}</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    }
    }
    }
    }
  </div>
  </div>
</ion-content>