<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>juego</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">juego</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-button routerLink="../home">Volver al menú</ion-button>
  </div>
  <div id="stats">
    <table>
      <tr>
        @for(estadistica of estadisticas; track estadistica.id ){
        <td>
          <p>
            {{ estadistica.nombre }}: {{ estadistica.estado }}
          </p>
        </td>
        }
      </tr>
    </table>
    @for(decision of decisiones; track decision.id){
    @if(decision.mostrar){
    @for (personaje of personajes; track personaje.id) {
    @if(personaje.id == decision.personajeId){

    <ion-card>
      <p>{{ decision.descripcion }}</p>
      <ion-card-header>
        <ion-card-title>{{ personaje.nombre }}</ion-card-title>
        <ion-card-subtitle>{{ personaje.puesto }}</ion-card-subtitle>
      </ion-card-header>
      <img alt="Imagen del personaje" src="{{ personaje.imagen }}" />
      <p>
        {{ personaje.descripcion }}
      </p>

      <ion-card-content>
        <p>Opción 1: {{ decision.opcion1 }}</p>
        <p>Opción 2: {{ decision.opcion2 }}</p>
        <br>
        <ion-button (click)="decisionOpcion1(decision)">Opcion 1</ion-button>
        <ion-button (click)="decisionOpcion2(decision)">Opcion 2</ion-button>
      </ion-card-content>
    </ion-card>
    }
    }
    }
    }
  </div>
</ion-content>