ion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5%;
  width: 100%;

  img {
    width: 30%;
    height: auto;
    border-radius: 10px;
    margin: 10px 0;
  }
}

#stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
}

#div-centrado{
  
}

#ch-card{
  background: linear-gradient(to top, #a00, #700);
  width: 75%;
}

#options{
  display: flex;
  width: 100%;
}

.option1{
  float: left;
  width: 50%;
}

.option2{
  float: right;
  width: 50%;
}