<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Personajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">personajes</ion-title>
    </ion-toolbar>
  </ion-header>
  @for (personaje of personajes; track personaje.personaje.id){
  <p>
    {{ personaje.personaje.nombre }}
  </p>
  }
  <div>
    <ion-button routerLink="../home">Volver al menú</ion-button>
  </div>
  <p>
    {{ personajes[0].personaje.id}}
  </p><!-- <p>{{ personajes[0].personaje.nombre }}</p> -->
  <p>Wasap</p>
</ion-content>